*{
    box-sizing: border-box;
  }
  
body {
    background-color: black;
    margin: 0;
    cursor:url(whiteheart_cursor.png), auto;
    overflow: hidden;
  }

.about {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 7.7%;
    left: 60.2%;
    cursor:url(black_heart.png), auto;
}

.bar {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 70%;
}

.work {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 3%;
    left: 73.5%;
    cursor:url(black_heart.png), auto;
}

.bar2 {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 82.5%;
}

.contact {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: -1.5%;
    left: 85.5%;
    cursor:url(black_heart.png), auto;
}

.name {
    position: absolute;
    width: 550px;
    height: 140px;
    top: 4%;
    left: 4%;
    cursor:url(black_heart.png), auto;
}

.logo {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 3%;
  left: 10%;
  cursor:pointer;
}

.ig_icon {
position: absolute;
width: 30px;
top: 24%;
left: 30%;
}

.ig_icon :hover {
cursor: pointer;
}

.in_icon {
position: absolute;
width: 30px;
top: 24%;
left: 33%;
}

.in_icon:hover {
cursor: pointer;
}

.be_icon {
position: absolute;
width: 30px;
top: 24%;
left: 36%;
}

.be_icon:hover {
cursor: pointer;
}


  .about a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .about a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .work a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .work a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .contact a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .contact a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .back {
    position: absolute;
    top: 41%;
    left: 5.6%;
}

.video {
  position: absolute;
  top: 36.5%;
  left: 40%;
}

.title {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: inherit;
  line-height: 2px;
  font-family: Fjalla One;
  top: 52.8%;
  left: 6%;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.box {
  position: absolute;
  width: 362px;
  height: 40px;
  background-color: rgb(238, 203, 4);
  top: 54%;
  left: 5.5%;
}

.box2 {
  position: absolute;
  width: 420px;
  height: 187px;
  top: 68%;
  left: 5.5%;
}

.subtitle {
  position: absolute;
  color: white;
  font-family: quiet-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  top: 58%;
  left: 5.5%;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.p {
  position: absolute;
  color: white;
  font-family: quiet-sans, sans-serif;
  margin-top: inherit;
  font-weight: 400;
  font-style: normal;
  top: 67.8%;
  left: 7%;
  font-size: 16.5px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 500;
}

@media screen and (max-width: 800px) {

  .name {
    position: absolute;
    width: 85%;
    height: auto;
    top: 4%;
    left: 8.5%;
}


}