*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: rgb(255, 255, 255);
    height: 100%;
  }

 .logo {
    width: auto;
    height: 90px;
    position: absolute;
    left: 4%;
    top: 5%;
}

.logo {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  
.home {
    font-size: 20px;
    font-family: 'Quiet Sans ExtraLight';
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 5.1%;
    left: 65%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.home:hover {
    color: rgb(206, 206, 206);
  }

  .work {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none !important;
    color: rgb(48, 48, 48);
    position: absolute;
    top: 5%;
    left: 67%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
}

.work:hover {
    color: rgb(206, 206, 206);
  }

.about {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none !important;
    color: rgb(206, 206, 206);
    position: absolute;
    top: 5%;
    left: 76%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
}

.about:hover {
    color: rgb(49, 49, 49);
  }

.contact {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(49, 49, 49);
    text-decoration: none !important;
    position: absolute;
    top: 5%;
    left: 86%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
}

.contact:hover {
    color: rgb(206, 206, 206);
  }

.ig {
    width:auto;
    height:30px;
    position: absolute;
    left: 86.5%;
    top: 93.5%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.ig:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}


.line4 {
    width: 43%;
    position: absolute;
    left: 32%;
    top: 218%;
    opacity: 30%;
}


.in {
    width:auto;
    height:30px;
    position:absolute;
    left: 90%;
    top: 93.5%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.in:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}

.be {
    width: auto;
    height:30px;
    position: absolute;
    left: 93.5%;
    top: 93.5%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.be:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}

  @keyframes fadey { 
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
    }

    figure#slideshow { 
      width: 100%; 
      margin: 0 auto; 
      position: relative; 
    }
    figure#slideshow img { 
      position: absolute; 
      left: 0; top: 0; 
      width: 100%; height: auto; 
      opacity: 0; 
    }
    figure#slideshow img:first-child { position: relative; }

  .heading {
    font-size: 17px;
    font-family: 'Quiet Sans ExtraLight';
    color: rgb(153, 153, 153);
    position: relative;
    top: 19%;
    left: 18%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .border {
    width: 1450px;
    height: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    left: 0%;
    top: 21%;
}

.border2 {
    width: 1450px;
    height: 30px;
    padding: 10px;
    background-color: rgb(170, 169, 169);
    margin: 0;
    position: absolute;
    left: 0%;
    top: 28.5%;
}

#rssBlock2{
    left:0%;
    top: 160%;
    background: rgb(0, 0, 0);
    position: absolute;
    width: 1450px;
    height: 5%;
    overflow: hidden;
    padding-top: -5%;
    height: inherit;
  }
  
  .cnnContents2 {
    width:100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-family: 'Quiet Sans ExtraLight';
    text-align: center;
  }

  .border {
    width: 295px;
    height: 417.2px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0;
    position: absolute;
    left: 24.1%;
    top: 27.4%;
}

.pp {
    position: absolute;
    width: 22%;
    height: auto;
    top: 26%;
    left: 23.4%;
}

.pp {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.text_title {
    font-size: 17px;
    font-family: owners-wide, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(54, 54, 54);
    position: absolute;
    top: 33%;
    left: 49%;
}

.t {
    position: absolute;
    top: 28%;
    left: 48.3%;
    width: 30%;
    height: auto;
}

.text_title {
    bottom: 15%;
    position: absolute;
    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1.5s;
  }
  @-webkit-keyframes run {
    0% {
      left: 35%;
      opacity: 0%;
    }
 
    100% {
      left: 49%;    
    }
  }

.text_about {
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.09em;
    color: rgb(160, 160, 160);
    position: absolute;
    top: 38%;
    left: 43.5%;
    text-decoration: none !important;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5.7%;
    margin-right: 23%;
    line-height: 1.3em;
}

.text_about {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.division {
    width: 35%;
    position: absolute;
    top: 8%;
    left: 60%;
    opacity: 20%;
  }

.name {
  position: absolute;
  writing-mode: vertical-rl;
  font-family: 'proxima nova';
  color: rgb(212, 212, 212);
  top: 43%;
  left: 94%;
  letter-spacing: 0.1em;
  font-size: 12px;
}

.port {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'proxima nova';
  color: rgb(212, 212, 212);
  top: 49%;
  left: 4%;
  letter-spacing: 0.1em;
  font-size: 12px;
}

.blackbox {
  width: 300px;
  background-color: black;
  width: 100%;
  height: 9%;
  top: 91%;
  position: absolute;
}

.text {
  font-size: 12px;
  font-family: 'Quiet Sans ExtraLight';
  color: rgb(170, 170, 170);
  position: absolute;
  top: 94.5%;
  left: 4%;
  letter-spacing: 0.07em;
}

.textblock {
  position: absolute;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  top: 40%;
  left: 17%;
  color: black;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.textblock2 {
  position: absolute;
  font-size: 21px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  top: 54%;
  left: 17%;
  color: black;
  letter-spacing: 0.1em;
}

.blackbox {
    width: 300px;
    background-color: black;
    width: 100%;
    height: 9%;
    top: 91%;
    position: absolute;
  }



















  @media screen and (max-width: 1200px) {

    *{
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      background: rgb(255, 255, 255);
      height: 100%;
      overflow-x: hidden;
    }
  
    .logo {
      width: auto;
      height: 80px;
      position: absolute;
      left: 4%;
      top: 5%;
    }
    
    .logo {
      animation: fadeIn 3s;
      -webkit-animation: fadeIn 3s;
      -moz-animation: fadeIn 3s;
      -o-animation: fadeIn 3s;
      -ms-animation: fadeIn 3s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    
    .home {
      font-size: 20px;
      font-family: 'Quiet Sans ExtraLight';
      text-decoration: none !important;
      color: rgb(0, 0, 0);
      position: fixed;
      top: 5.1%;
      left: 65%;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
    }
    
    .home:hover {
      color: rgb(206, 206, 206);
    }
    
    .work {
      font-size: 17px;
      font-family: owners-xwide, sans-serif;
      font-weight: 500;
      font-style: normal;
      text-decoration: none !important;
      color: rgb(48, 48, 48);
      position: absolute;
      top: 24%;
      left: 4%;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
      letter-spacing: 0.15em;
    }
    
    .work:hover {
      color: rgb(206, 206, 206);
    }
    
    .about {
      font-size: 17px;
      font-family: owners-xwide, sans-serif;
      font-weight: 500;
      font-style: normal;
      text-decoration: none !important;
      color: rgb(49, 49, 49);
      position: absolute;
      top: 28%;
      left: 4%;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
      letter-spacing: 0.15em;
    }
    
    .about:hover {
      color: rgb(206, 206, 206);
    }
    
    .contact {
      font-size: 17px;
      font-family: owners-xwide, sans-serif;
      font-weight: 500;
      font-style: normal;
      color: rgb(49, 49, 49);
      text-decoration: none !important;
      position: absolute;
      top: 32%;
      left: 4%;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;
      letter-spacing: 0.15em;
    }
    
    .contact:hover {
      color: rgb(206, 206, 206);
    }

    .division {
      width: 35%;
      position: absolute;
      top: 8%;
      left: 60%;
      opacity: 0%;
    }

    .ig {
      width:auto;
      height:30px;
      position: absolute;
      left: 65%;
      top: 30%;
      box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
      border-radius: 50%;
      display: block;
      border-color: rgb(139, 139, 139);
  }
  
  .ig:hover {
      transition: .3s;
      transform: translate(0%, -20%);
  }
  
  
  .line4 {
      width: 43%;
      position: absolute;
      left: 32%;
      top: 218%;
      opacity: 30%;
  }
  
  
  .in {
      width:auto;
      height:30px;
      position:absolute;
      left: 75%;
      top: 30%;
      box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
      border-radius: 50%;
      display: block;
      border-color: rgb(139, 139, 139);
  }
  
  .in:hover {
      transition: .3s;
      transform: translate(0%, -20%);
  }
  
  .be {
      width: auto;
      height:30px;
      position: absolute;
      left: 85%;
      top: 30%;
      box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
      border-radius: 50%;
      display: block;
      border-color: rgb(139, 139, 139);
  }
  
  .be:hover {
      transition: .3s;
      transform: translate(0%, -20%);
  }
    
    .name {
    position: absolute;
    writing-mode: vertical-rl;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(212, 212, 212);
    top: 43%;
    left: 94%;
    letter-spacing: 0.1em;
    font-size: 11px;
    }
    
    .port {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(212, 212, 212);
    top: 49%;
    left: 4%;
    letter-spacing: 0.1em;
    font-size: 11px;
    }
    
    .blackbox {
    width: 300px;
    background-color: black;
    width: 100%;
    height: 9%;
    top: 91%;
    position: absolute;
    }
    
    .text {
    font-size: 12px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(170, 170, 170);
    position: absolute;
    top: 94.5%;
    left: 7%;
    letter-spacing: 0.07em;
    }
  
    .pp {
      position: absolute;
      width: 55%;
      height: auto;
      top: 40%;
      left: 23.4%;
  }
  
  .pp {
      animation: fadeIn 3s;
      -webkit-animation: fadeIn 3s;
      -moz-animation: fadeIn 3s;
      -o-animation: fadeIn 3s;
      -ms-animation: fadeIn 3s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    .text_about {
      font-size: 15px;
      font-family: proxima-nova, sans-serif;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.09em;
      color: rgb(185, 185, 185);
      position: absolute;
      top: 95%;
      left: 1%;
      text-decoration: none !important;
      text-align: justify;
      text-align: center;
      text-justify: inter-word;
      margin-left: 6%;
      margin-right: 6%;
      line-height: 1em;
      padding-bottom: 80px;
  }
  
  .text_about {
      animation: fadeIn 2s;
      -webkit-animation: fadeIn 2s;
      -moz-animation: fadeIn 2s;
      -o-animation: fadeIn 2s;
      -ms-animation: fadeIn 2s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    .border {
      width: 295px;
      height: 417.2px;
      padding: 10px;
      border: 1px solid rgb(255, 255, 255);
      background-color: transparent;
      margin: 0;
      position: absolute;
      left: 24.1%;
      top: 27.4%;
      opacity: 0;
  }

  .blackbox {
    width: 300px;
    background-color: black;
    width: 100%;
    height: 9%;
    top: 91%;
    position: absolute;
    opacity: 0;
  }

  .t {
    position: absolute;
    top: 87%;
    left: 22%;
    width: 60%;
    height: auto;
}

.text {
  font-size: 12px;
  font-family: 'Quiet Sans ExtraLight';
  color: rgb(170, 170, 170);
  position: absolute;
  top: 94.5%;
  left: 4%;
  letter-spacing: 0.07em;
  opacity: 0;
}

}

