*{
    box-sizing: border-box;
  }
  
body {
    background-color: black;
    margin: 0;
    color: white;
    overflow-x: hidden;
    cursor:url(./images/whiteheart_cursor.png), auto;
  }

a {
    color: white;
    text-decoration: none;
  }

.about {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 7.7%;
    left: 60.2%;
    cursor: pointer;
}

.bar {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 70%;
}

.work {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 3%;
    left: 73.5%;
    cursor: pointer;
}

.bar2 {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 82.5%;
}

.contact {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: -1.5%;
    left: 85.5%;
    cursor: pointer;
}

.name {
    position: absolute;
    width: 550px;
    height: 140px;
    top: 4%;
    left: 4%;
    cursor:url(./images/black_heart.png), auto;
}

.contact_box {
    position: absolute;
    width: 1000px;
    height: auto;
    top: 47%;
    left: 14.5%;
}

.swap-on-hover {
    position: relative;	
      margin:  0 auto;
      max-width: 400px;
      top: 28%;
      left: -15%;
  }
  
  .swap-on-hover img {
    position: absolute;
    top:48%;
    left:20%;
    overflow: hidden;
    width: 220px;
    height: 220px;
  }

  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .1s linear;
    cursor: pointer;
  }
  
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
  }

  

  .swap-on-hover2 {
    position: relative;	
      margin:  0 auto;
      max-width: 400px;
      top: 32%;
      left: 15%;
  }
  
  .swap-on-hover2 img {
    position: absolute;
    top:50%;
    left:20%;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }

  .swap-on-hover2 .swap-on-hover__front-image2 {
    z-index: 9999;
    transition: opacity .1s linear;
    cursor: pointer;
  }
  
  .swap-on-hover2:hover > .swap-on-hover__front-image2 {
    opacity: 0;
  }

  .about a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .about a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .work a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .work a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .contact a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .contact a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }
  

   a img.email_open {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    top: 40%;
    left: 28%;
}
a img.email {
    display: inherit;
    position: absolute;
    width: 200px;
    height: auto;
    top: 40%;
    left: 28%;
}
a:hover img.email_open {
    display: inherit;
}
a:hover img.email {
    display: none;
}


a img.ig_change {
  display: none;
  position: absolute;
  width: 200px;
  height: auto;
  top: 44%;
  left: 57%;
}
a img.ig {
  display: inherit;
  position: absolute;
  width: 200px;
  height: auto;
  top: 44%;
  left: 57%;
}
a:hover img.ig_change {
  display: inherit;
}
a:hover img.ig {
  display: none;
}

@media screen and (max-width: 800px) {

  .name {
    position: absolute;
    width: 85%;
    height: auto;
    top: 4%;
    left: 8.5%;
}


}

  
  
  
  
