*{
    box-sizing: border-box;
  }
  
body {
    background-color: black;
    margin: 0;
    cursor:url(./images/whiteheart_cursor.png), auto;
    overflow: hidden;
    @import url(//db.onlinewebfonts.com/c/c8002809ed49394a1aab4a4ceaff09a6?family=Neue+Haas+Grotesk);
  }

.anti {
    position: fixed;
    top: 40%;
    left: 5%;
    width: 500px;
    height: 250px;
}

.draggable {
    cursor: move;
}

marquee {
      font-size: 23px;
      font-family: "Neue Haas Grotesk";
      top: 95%;
      position: absolute;
      background-color: white;
      color: black;
      padding-top: 2px;
      padding-bottom: 2px;
  }

a {
    color: white;
    text-decoration: none;
  }

.about {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 7.7%;
    left: 60.2%;
    cursor:url(./images/black_heart.png), auto;
}

.bar {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 4.5%;
    left: 70%;
}

.work {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 3%;
    left: 73.5%;
    cursor:url(./images/black_heart.png), auto;
}

.bar2 {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 4.5%;
    left: 82.5%;
}

.contact {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: -1.5%;
    left: 85.5%;
    cursor:url(./images/black_heart.png), auto;
}

name {
    position: absolute;
    width: 550px;
    height: 140px;
    top: 4%;
    left: 4%;
    cursor:url(./images/black_heart.png), auto;
}

.logo {
  position: absolute;
  width: 400px;
  height: 340px;
  top: 4%;
  left: 4%;
  cursor:url(./images/black_heart.png), auto;
}

snake {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 35%;
  left: 45%;
  cursor:url(./images/black_heart.png), auto;
}

.about a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .about a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .work a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .work a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .contact a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .contact a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  @media screen and (max-width: 800px) {

    *{
      box-sizing: border-box;
    }
    
  body {
      background-color: black;
      margin: 0;
      overflow: hidden;
    }

    .anti {
      position: fixed;
      top: 40%;
      left: 5%;
      width: 500px;
      height: 250px;
  }
  
  .draggable {
      cursor: move;
  }
  
  marquee {
        font-size: 23px;
        font-family: Fjalla One;
        top: 95%;
        position: absolute;
        background-color: white;
        color: black;
        padding-top: 2px;
        padding-bottom: 2px;
    }
  
  a {
      color: white;
      text-decoration: none;
    }
  
  .about {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 5.2%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .bar {
      position: absolute;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      top: 19.5%;
      left: 31%;
      display: none;
  }
  
  .work {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 37%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .bar2 {
      position: absolute;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      top: 19.5%;
      left: 61%;
      display: none;
  }
  
  .contact {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 66.2%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .name {
      position: absolute;
      width: 85%;
      height: auto;
      top: 4%;
      left: 8.5%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .about a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .about a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }
  
    .work a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .work a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }
  
    .contact a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .contact a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }

      }
