*{
    box-sizing: border-box;
  }
  
body {
    background: linear-gradient(-45deg, #000000, #000000, #2c2c2c, #000000, #000000);
    animation: gradient 30s ease infinite;  
    background-size: 400% 400%;
    cursor:url(./images/whiteheart_cursor.png), auto;
    overflow: hidden;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .loading{
    width:100px;
    height:100px;
    margin:30px auto;
    position:relative;
}

.loading.bar div{
  width: 7px;
  height: 10px;
  border-radius: 15px;
  background: white;
  position: absolute;
  top: 530px;
  left: -910px;
  opacity:0.05;
  -webkit-animation: fadeit 1.1s linear infinite;
  -moz-animation: fadeit 1.1s linear infinite;
  animation: fadeit 1.1s linear infinite;
}

.loading.bar div:nth-child(1){
  -webkit-transform: rotate(0deg) translate(0, -30px);
  -moz-transform: rotate(0deg) translate(0, -30px);
  transform: rotate(0deg) translate(0, -30px); 

  -webkit-animation-delay:0.39s;
  -moz-animation-delay:0.39s;
  animation-delay:0.39s;
} 

.loading.bar div:nth-child(2){
  -webkit-transform: rotate(45deg) translate(0, -30px);
  -moz-transform: rotate(45deg) translate(0, -30px);
  transform: rotate(45deg) translate(0, -30px); 

  -webkit-animation-delay:0.52s;
  -moz-animation-delay:0.52s;
  animation-delay:0.52s;
} 

.loading.bar div:nth-child(3){
  -webkit-transform: rotate(90deg) translate(0, -30px);
  -moz-transform: rotate(90deg) translate(0, -30px);
  transform: rotate(90deg) translate(0, -30px); 

  -webkit-animation-delay:0.65s;
  -moz-animation-delay:0.65s;
  animation-delay:0.65s;
} 

.loading.bar div:nth-child(4){
  -webkit-transform: rotate(135deg) translate(0, -30px);
  -moz-transform: rotate(135deg) translate(0, -30px);
  transform: rotate(135deg) translate(0, -30px); 

  -webkit-animation-delay:0.78s;
  -moz-animation-delay:0.78s;
  animation-delay:0.78s;
} 

.loading.bar div:nth-child(5){
  -webkit-transform: rotate(180deg) translate(0, -30px);
  -moz-transform: rotate(180deg) translate(0, -30px);
  transform: rotate(180deg) translate(0, -30px); 

  -webkit-animation-delay:0.91s;
  -moz-animation-delay:0.91s;
  animation-delay:0.91s;
} 

.loading.bar div:nth-child(6){
  -webkit-transform: rotate(225deg) translate(0, -30px);
  -moz-transform: rotate(225deg) translate(0, -30px);
  transform: rotate(225deg) translate(0, -30px); 

  -webkit-animation-delay:1.04s;
  -moz-animation-delay:1.04s;
  animation-delay:1.04s;
} 

.loading.bar div:nth-child(7){
  -webkit-transform: rotate(270deg) translate(0, -30px);
  -moz-transform: rotate(270deg) translate(0, -30px);
  transform: rotate(270deg) translate(0, -30px); 

  -webkit-animation-delay:1.17s;
  -moz-animation-delay:1.17s;
  animation-delay:1.17s;
} 

.loading.bar div:nth-child(8){
  -webkit-transform: rotate(315deg) translate(0, -30px);
  -moz-transform: rotate(315deg) translate(0, -30px);
  transform: rotate(315deg) translate(0, -30px); 

  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  animation-delay:1.3s;
}

@-webkit-keyframes fadeit{
  0%{
       opacity:1;
  }
  100%{
       opacity:0;
  }
}
@-moz-keyframes fadeit{
  0%{
       opacity:1;
  }
  100%{
       opacity:0;
  }
}
@keyframes fadeit{
  0%{
       opacity:1;
  }
  100%{
       opacity:0;
  }
}

.anti {
    position: fixed;
    top: 40%;
    left: 5%;
    width: 500px;
    height: 250px;
}

.draggable {
    cursor: move;
}

marquee {
      font-size: 23px;
      font-family: 'Manrope';
      top: 95%;
      position: absolute;
      background-color: white;
      color: black;
      padding-top: 2px;
      padding-bottom: 2px;
  }

a {
    color: white;
    text-decoration: none;
  }

.about {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 63%;
    left: 90%;
    cursor:url(./images/black_heart.png), auto;
}

.bar {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 4.5%;
    left: 70%;
}

.work {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 66%;
    left: 90.5%;
    cursor:url(./images/black_heart.png), auto;
}

.bar2 {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 4.5%;
    left: 82.5%;
}

.contact {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 69%;
    left: 87.5%;
    cursor:url(./images/black_heart.png), auto;
}

.line {
  position: absolute; 
  width: 50px;
  top: 50%;
  left: 5%;
}

name {
    position: absolute;
    width: 550px;
    height: 140px;
    top: 4%;
    left: 4%;
    cursor:url(./images/black_heart.png), auto;
}

.logo {
  position: absolute;
  width: 400px;
  height: 340px;
  top: 4%;
  left: 4%;
  cursor:url(./images/black_heart.png), auto;
}

.ig_icon {
  position: absolute;
  width: 35px;
  top: 4%;
  left: 87%;
}

.ig_icon :hover {
  cursor: pointer;
}

.in_icon {
  position: absolute;
  width: 35px;
  top: 4%;
  left: 91%;
}

.in_icon:hover {
  cursor: pointer;
}

.be_icon {
  position: absolute;
  width: 35px;
  top: 4%;
  left: 95%;
}

.be_icon:hover {
  cursor: pointer;
}

snake {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 35%;
  left: 45%;
  cursor:url(./images/black_heart.png), auto;
}

.about a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .about a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .work a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .work a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  .contact a {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    transition: background-position 0.4s ease-out;
  }
  .contact a:hover {
    background-position: -99.99% 0;
    color: black;
    font-weight: bolder;
  }

  @media screen and (max-width: 800px) {

    *{
      box-sizing: border-box;
    }
    
  body {
      background-color: black;
      margin: 0;
      overflow: hidden;
    }

    .anti {
      position: fixed;
      top: 40%;
      left: 5%;
      width: 500px;
      height: 250px;
  }
  
  .draggable {
      cursor: move;
  }
  
  marquee {
        font-size: 23px;
        font-family: Fjalla One;
        top: 95%;
        position: absolute;
        background-color: white;
        color: black;
        padding-top: 2px;
        padding-bottom: 2px;
    }
  
  a {
      color: white;
      text-decoration: none;
    }
  
  .about {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 5.2%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .bar {
      position: absolute;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      top: 19.5%;
      left: 31%;
      display: none;
  }
  
  .work {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 37%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .bar2 {
      position: absolute;
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      top: 19.5%;
      left: 61%;
      display: none;
  }
  
  .contact {
      font-size: 28px;
      font-family: quiet-sans, sans-serif;
      font-weight: 200;
      font-style: normal;
      color: white;
      position: absolute;
      top: 23%;
      left: 66.2%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .name {
      position: absolute;
      width: 85%;
      height: auto;
      top: 4%;
      left: 8.5%;
      cursor:url(./images/black_heart.png), auto;
  }
  
  .about a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .about a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }
  
    .work a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .work a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }
  
    .contact a {
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
      background-position: -0% 0;
      background-size: 200% auto;
      color: white;
      text-decoration: none;
      transition: background-position 0.4s ease-out;
    }
    .contact a:hover {
      background-position: -99.99% 0;
      color: black;
      font-weight: bolder;
    }

      }
