*{
    box-sizing: border-box;
  }
  
body {
    background-color: black;
    margin: 0;
    color: white;
    overflow-x: hidden;
    cursor:url(whiteheart_cursor.png), auto;
  }

a {
    color: white;
    text-decoration: none;
  }

.about {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 7.7%;
    left: 60.2%;
    cursor: pointer;
}

.bar {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 70%;
}

.work {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: 3%;
    left: 73.5%;
    cursor: pointer;
}

.bar2 {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    top: 5%;
    left: 82.5%;
}

.contact {
    font-size: 30px;
    font-family: 'Quiet Sans ExtraLight';
    color: white;
    position: relative;
    top: -1.5%;
    left: 85.5%;
    cursor: pointer;
}

.name {
    position: absolute;
    width: 550px;
    height: 140px;
    top: 4%;
    left: 4%;
    cursor:url(black_heart.png), auto;
}

.slideshow_button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30%;
    left: 86.5%;
}

.grid_button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30%;
    left: 91%;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    top: 150px;
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
    position: relative;
    align-items: center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
  }
  
  /* Style the buttons */
  .btn {
    position: relative;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 10px 8px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    top: 130px;
    left: 86%;
  }
  
  .btn:hover {
    opacity: 50%;
  }
  
  .btn.active {
    background-color: black;
    color: white;
  }