*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: rgb(255, 255, 255);
}

.logo {
  width: auto;
  height: 90px;
  position: absolute;
  left: 4%;
  top: 5%;
}

.logo {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.home {
  font-size: 20px;
  font-family: 'Quiet Sans ExtraLight';
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  top: 5.1%;
  left: 65%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.home:hover {
  color: rgb(206, 206, 206);
}

.work {
  font-size: 17px;
  font-family: owners-xwide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none !important;
  color: rgb(206, 206, 206);
  position: absolute;
  top: 5%;
  left: 67%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  letter-spacing: 0.15em;
}

.work:hover {
  color: rgb(49, 49, 49);
}

.about {
  font-size: 17px;
  font-family: owners-xwide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none !important;
  color: rgb(49, 49, 49);
  position: absolute;
  top: 5%;
  left: 76%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  letter-spacing: 0.15em;
}

.about:hover {
  color: rgb(206, 206, 206);
}

.contact {
  font-size: 17px;
  font-family: owners-xwide, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(49, 49, 49);
  text-decoration: none !important;
  position: absolute;
  top: 5%;
  left: 86%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  letter-spacing: 0.15em;
}

.contact:hover {
  color: rgb(206, 206, 206);
}

.ig {
  width: auto;
  height: 30px;
  position: fixed;
  left: 86.5%;
  top: 93.5%;
  box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  display: block;
  border-color: rgb(139, 139, 139);
}

.ig:hover {
  transition: .3s;
  transform: translate(0%, -20%);
}


.line4 {
  width: 43%;
  position: absolute;
  left: 32%;
  top: 218%;
  opacity: 30%;
}


.in {
  width: auto;
  height: 30px;
  position: fixed;
  left: 90%;
  top: 93.5%;
  box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  display: block;
  border-color: rgb(139, 139, 139);
}

.in:hover {
  transition: .3s;
  transform: translate(0%, -20%);
}

.be {
  width: auto;
  height:30px;
  position: fixed;
  left: 93.5%;
  top: 93.5%;
  box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  display: block;
  border-color: rgb(139, 139, 139);
}

.be:hover {
  transition: .3s;
  transform: translate(0%, -20%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 600px;
  margin-right: 65px;
  margin-left: 65px;
}


.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(1) brightness(1);
}
@media screen and (max-width: 800px) {
  .column {
    margin-top: 15px;
    flex: 50%;
    max-width: 50%;
  }

  .column::before{
    margin: 100px;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.heading {
  font-size: 17px;
  font-family: 'Quiet Sans ExtraLight';
  color: rgb(146, 146, 146);
  position: relative;
  top: 19%;
  left: 18%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.border3 {
  width: 1450px;
  height: 30px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  left: 0%;
  top: 158%;
}

.border4 {
  width: 1450px;
  height: 30px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  left: 0%;
  top: 165.5%;
}

.row {
  display: flex;
  position: block;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 50%;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(1) brightness(1);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin-top: 30%;
  }

}

.division {
  width: 35%;
  position: absolute;
  top: 8%;
  left: 60%;
  opacity: 20%;
}

.name {
position: fixed;
writing-mode: vertical-rl;
font-family: 'proxima nova';
color: rgb(212, 212, 212);
top: 43%;
left: 95%;
letter-spacing: 0.1em;
font-size: 12px;
}

.port {
position: fixed;
writing-mode: vertical-rl;
transform: rotate(180deg);
font-family: 'proxima nova';
color: rgb(212, 212, 212);
top: 49%;
left: 4%;
letter-spacing: 0.1em;
font-size: 12px;
}

.blackbox {
width: 300px;
background-color: black;
width: 100%;
height: 9%;
top: 91%;
position: fixed;
}

.textbottom {
font-size: 12px;
font-family: 'Quiet Sans ExtraLight';
color: rgb(170, 170, 170);
position: fixed;
top: 94.5%;
left: 4%;
letter-spacing: 0.07em;
}


.gif {
max-width: 500px;
max-height: auto;
position: absolute;
top: 265px;
left: 260px;
}

.text {
color: transparent;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: transparent;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}



.arrow {
position: absolute;
top: 85%;
left: 50%;
height: 18px;
width: auto;
animation: fadeInAnimation ease 2s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
}

50%{
  opacity: 0.5;
}
100% {
    opacity: 0;
 }
}

.scarlata {
  position: absolute;
  top: 40%;
  left: 58%;
  font-size: 34px;
  font-family: owners-wide, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(73, 73, 73);
  letter-spacing: 0.15em;
}

.scarlata_heading {
  position: absolute;
  top: 45.5%;
  left: 58%;
  font-size: 17px;
  font-family: owners-wide, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: rgb(201, 201, 201);
  letter-spacing: 0.15em;
}

.scarlata_text {
  position: absolute;
  top: 50%;
  left: 58%;
  font-size: 16px;
  font-style: normal;
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  color: rgb(175, 175, 175);
  letter-spacing: 0.15em;
  line-height: 1.25em;
  margin-right: 18%;
}

.button {
  position: absolute;
  top: 62%;
  left: 58%;
  height: 35px;
}


.quechua_1 {
  position: absolute;
  top: 128%;
  left: 32%;
  width: 500px;
  height: auto;
}

.quechua_2 {
  position: absolute;
  top: 100%;
  left: 13%;
  width: 500px;
  height: auto;
}

.quechua_3 {
  position: absolute;
  top: 100%;
  left: 52%;
  width: 500px;
  height: auto;
}

.button_2 {
  position: absolute;
  top: 160%;
  left: 45%;
  height: 35px;
}

.quechua_text {
  position: absolute;
  top: 149%;
  left: 29.5%;
  font-size: 16px;
  font-style: normal;
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  color: rgb(175, 175, 175);
  letter-spacing: 0.15em;
  line-height: 1.25em;
  text-align: center;
  margin-right: 30%;
}













@media screen and (max-width: 500px) {

  *{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: rgb(255, 255, 255);
    height: 100%;
    overflow-x: hidden;
  }

  .logo {
    width: auto;
    height: 80px;
    position: absolute;
    left: 4%;
    top: 5%;
  }
  
  .logo {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  
  .home {
    font-size: 20px;
    font-family: 'Quiet Sans ExtraLight';
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 5.1%;
    left: 65%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  
  .home:hover {
    color: rgb(206, 206, 206);
  }
  
  .work {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none !important;
    color: rgb(48, 48, 48);
    position: absolute;
    top: 24%;
    left: 4%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
  }
  
  .work:hover {
    color: rgb(206, 206, 206);
  }
  
  .about {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none !important;
    color: rgb(49, 49, 49);
    position: absolute;
    top: 28%;
    left: 4%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
  }
  
  .about:hover {
    color: rgb(206, 206, 206);
  }
  
  .contact {
    font-size: 17px;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(49, 49, 49);
    text-decoration: none !important;
    position: absolute;
    top: 32%;
    left: 4%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 0.15em;
  }
  
  .contact:hover {
    color: rgb(206, 206, 206);
  }

  .ig {
    width:auto;
    height:30px;
    position: absolute;
    left: 65%;
    top: 30%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.ig:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}


.line4 {
    width: 43%;
    position: absolute;
    left: 32%;
    top: 218%;
    opacity: 30%;
}


.in {
    width:auto;
    height:30px;
    position:absolute;
    left: 75%;
    top: 30%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.in:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}

.be {
    width: auto;
    height:30px;
    position: absolute;
    left: 85%;
    top: 30%;
    box-shadow: 0 4px 3px rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    display: block;
    border-color: rgb(139, 139, 139);
}

.be:hover {
    transition: .3s;
    transform: translate(0%, -20%);
}
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 570px;
    margin-right: 65px;
    margin-left: 65px;
  }
  
  .column {
    flex: 30%;
    max-width: 40%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(1) brightness(1);
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 80%;
      max-width: 80%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .heading {
    font-size: 17px;
    font-family: 'Quiet Sans ExtraLight';
    color: rgb(146, 146, 146);
    position: relative;
    top: 19%;
    left: 18%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  
  .border3 {
    width: 1450px;
    height: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    left: 0%;
    top: 158%;
  }
  
  .border4 {
    width: 1450px;
    height: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    left: 0%;
    top: 165.5%;
  }
  
  .division {
    width: 35%;
    position: absolute;
    top: 8%;
    left: 60%;
    opacity: 0%;
  }
  
  .name {
    position: absolute;
    writing-mode: vertical-rl;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(212, 212, 212);
    top: 43%;
    left: 94%;
    letter-spacing: 0.1em;
    font-size: 11px;
    }
    
    .port {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(212, 212, 212);
    top: 49%;
    left: 4%;
    letter-spacing: 0.1em;
    font-size: 11px;
    }
    
    .blackbox {
    width: 300px;
    background-color: black;
    width: 100%;
    height: 9%;
    top: 91%;
    position: absolute;
    opacity: 0%;
    }
    
    .text {
    font-size: 12px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(170, 170, 170);
    position: relative;
    top: 94.5%;
    left: 7%;
    letter-spacing: 0.07em;
    opacity: 0%;
    }
  
  .textbottom {
  font-size: 12px;
  font-family: 'Quiet Sans ExtraLight';
  color: rgb(170, 170, 170);
  position: fixed;
  top: 94.5%;
  left: 4%;
  letter-spacing: 0.07em;
  opacity: 0%;
  }
  
  
  
  .gif {
  max-width: 280px;
  max-height: auto;
  position: relative;
  top: 280px;
  left: 14%;
  }
  
  .numbertext {
  color: transparent;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  }
  
  .active {
  background-color: #717171;
  }
  
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  }
  
  
  
  .arrow {
  position: absolute;
  top: 94%;
  left: 46%;
  height: 18px;
  width: auto;
  animation: fadeInAnimation ease 2s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  
  .scarlata {
    position: absolute;
    top: 71%;
    left: 30%;
    font-size: 22px;
    font-family: owners-wide, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(73, 73, 73);
    letter-spacing: 0.15em;
    opacity: 0%;
  }
  
  .scarlata_heading {
    position: absolute;
    top: 71.5%;
    left: 24.5%;
    font-size: 17px;
    font-family: owners-wide, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: rgb(32, 32, 32);
    letter-spacing: 0.15em;
  }
  
  .scarlata_text {
    position: absolute;
    top: 73.5%;
    left: 17%;
    font-size: 15px;
    font-style: normal;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    color: rgb(194, 194, 194);
    letter-spacing: 0.15em;
    line-height: 1.1em;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
  }
  
  .button {
    position: absolute;
    top: 85.5%;
    left: 32.7%;
    height: 35px;
  }
  
  
  .quechua_1 {
    position: absolute;
    top: 123%;
    left: 14%;
    width: 280px;
    height: auto;
  }
  
  .quechua_2 {
    position: absolute;
    top: 105%;
    left: 14%;
    width: 280px;
    height: auto;
  }
  
  .quechua_3 {
    position: absolute;
    top: 138%;
    left: 14%;
    width: 280px;
    height: auto;
  }
  
  .button_2 {
    position: absolute;
    top: 171%;
    left: 32.5%;
    height: 35px;
  }
  
  .quechua_text {
    position: absolute;
    top: 155%;
    left: 11%;
    font-size: 15px;
    font-style: normal;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    color: rgb(175, 175, 175);
    letter-spacing: 0.15em;
    line-height: 1.15em;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 12%;
    text-align: center;
  }
  
  .container-fluid::before {
    margin: 50%;
  }

}